DATABASE_LOCATION = /home/
MAIN_BRANCH = UQAK5NiZLZ-Xj6dIabUkynlNYM4UXmiuJN1BELEzfvh6H0z4
ENGLISH_BRANCH = UQCS7ctzv10BRWmftg249fIcjv4Tut5ol_gJCVSE2Ha4kDQH
SPANISH_BRANCH = UQAmdzF4dBW0kj5U6UhVOBaq5DgW6WMk4n5KbuxzRh5JZxVD
RUSSIAN_BRANCH = UQB1eeu_isp3449-D-pj5daXh04OK5nzfAKYum_R1E43MhYC
API_KEY_SEND_FORM =